server:
  port: 8080

spring:
  thymeleaf:
    cache: false
  data:
    mongodb:
#      host: localhost
#      port: 27017
      uri: mongodb://${BACKEND_SERVER}:27017/mydb
      # 또는 개별 설정
      # host: localhost
      # port: 27017
      # database: mydb
  mongodb:
    uuid-representation: standard   # (권장) UUID 표준 표현
  ai:
    openai:
      api-key: ${OPENAI_API_KEY}
      chat:
        options:
          model: gpt-3.5-turbo
          temperature: 0.7
    anthropic:
      api-key: ${ANTHROPIC_API_KEY}
      chat:
        options:
          model: claude-3-haiku
          temperature: 0.7